{% assign loopindex = forloop.index | modulo: 3 %}
{% assign is_last_row = forloop.length | divided_by: 3 %}
{% assign is_last_row = is_last_row | times: 3 %}

{% if forloop.index <= is_last_row %}
  {% assign row_align = "" %}
{% else %}
  {% assign n_last_row = forloop.length | modulo: 3 %}
  {% if n_last_row == 0 or loopindex > 1 %}
    {% assign row_align = "" %}
  {% elsif n_last_row == 1 %}
    {% assign row_align = " medium-offset-4" %}
  {% else %}
    {% assign row_align = " medium-offset-2" %}
  {% endif %}
{% endif %}

{% if forloop.index == forloop.length %}
  {% assign last_row_item = " end" %}
{% else %}
  {% assign last_row_item = "" %}
{% endif %}

{% if loopindex == 1 %}
<div class="row align-center">
{% endif %}
<div class="medium-4 columns{{ row_align }}{{ last_row_item }}">
<div class="team-member">
<img src="{{ site.filesurl }}/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
<h4>{{ member.name }}</h4>
<p class="text-muted">
{{ member.position }}<br>

{% if member.lead %}
<i>{{ member.lead }}</i><br>
{% endif %}
</p>
<ul class="list-inline social-buttons">
  <li><a href="mailto:{{ member.email }}"> <i class="fa fa-envelope" title="Email"></i> </a> </li>

  {% if member.github %}<li> <a href="https://github.com/{{ member.github }}"> <i class="fab fa-github" title="GitHub"></i> </a> </li> {% endif %}

  {% if member.linkedin %}<li> <a href="https://linkedin.com/in/{{ member.linkedin }}"> <i class="fab fa-linkedin" title="LinkedIn"></i> </a> </li>  {% endif %}

  {% if member.orcid %}<li> <a href="https://orcid.org/{{ member.orcid }}"> <i class="fab fa-orcid" title="ORCID"></i> </a> </li>  {% endif %}

  {% if member.twitter %}<li> <a href="https://twitter.com/{{ member.twitter }}"> <i class="fab fa-twitter" title="Twitter"></i> </a> </li> {% endif %}

</ul>
</div>
</div>
{% if loopindex == 0 %}
</div>
{% endif %}
