<div class="container">
  <h1>The Carpentries in {{ region }}</h1>

<!-- BEGIN Set RC as singular or plural -->
{% if regional_coordinators.size > 1 %}
{% assign plural = true %}
{% else %}
{% assign plural = false %}
{% endif %}
<!-- END Set RC as singular or plural -->


<!-- BEGIN Section: About the Admin -->

<!-- If multiple admins -->

{% if plural %}
{% assign rc_names = "" %}
{% for rc in regional_coordinators %}
{% assign rc_names = rc_names | append: rc.name | append: ", " %}
{% endfor %}

{{ rc_names | split: ", " | join: " and " }} are our Regional Coordinators for {{ region }}.  They are ready to help you with any questions you have about running Carpentries workshops or any other ways you can get involved with The Carpentries in {{ region }}. Contact them at ## EMAIL ADDRESS ##.

<br><br>

<!-- If one admin -->

{% else %}
{% assign rc = regional_coordinators[0] %}  

{{ rc.name }} is our Regional Coordinator for {{ region }}.  {{ rc.pronoun_subjective }} is ready to help you with any questions you have about running Carpentries workshops or any other ways you can get involved with The Carpentries in {{ region }}. Contact {{ rc.pronoun_objective }} at  ## EMAIL ADDRESS ##.

{% endif %}

<!-- END Section: About the Admin -->

<!-- BEGIN Section: Admin images  -->
{% for rc in regional_coordinators %}
<div class="row">
  <div class="medium-6 columns">
    <div class="team-member">
      <img data-src="{{ rc.pic }}" width="128" height="128" class="img-responsive img-circle lazyload" alt="GitHub profile photo of {{ rc.name }}" />
      <h3>{{ rc.name }}</h3>
      <ul class="list-inline social-buttons">
        <li> <a href="https://github.com/anenadic"> <i class="fab fa-github"></i> </a> </li>
        <li> <a href="https://orcid.org/0000-0002-2269-3894"> <i class="fab fa-orcid"></i> </a> </li>
      </ul>
    </div>
  </div>

{% endfor %}

<!-- END Section: Admin images  -->





</div>