<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <p>
    Meet Carpentries staff and others who work with us.
  </p>
  <p>
    We work in teams to manage our day to day work and our large projects. Read
    more about
    <a href="{{ site.url }}{{ site.baseurl }}/core-team-projects/">who is on
      each team and what each team does</a>.
  </p>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
      {% assign staff = site.data.team.people %}
      {% for member in staff %}
      {% include _team_profile.html %}
      {% endfor %}
    </div>


  <h2 class="section-heading">The Carpentries Strategic Partners</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
             </div>
                {% assign consultants = site.data.strategic_partners.people %}
                {% for member in consultants %}
                {% include _team_profile.html %}
                {% endfor %}
            </div>


</section>
