---
layout: page
title: "Curriculum Advisors"
permalink: /curriculum-advisors/
---

<div class="container">
{% include lazyload.html %}

<p>
    Curriculum Advisors are part of a team that provides the oversight, vision, and leadership for a particular set of lessons. Committees can be reached by email using the addresses listed below, or in GitHub by using the @ tag to reference the appropriate Curriculum Advisory team (e.g. "@datacarpentry/curriculum-advisors-astronomy") in an Issue, Pull Request, or comment. More information about the Curriculum Advisory Committees can be found in <a href="https://docs.carpentries.org/topic_folders/lesson_development/lesson_development_roles.html">The Carpentries Handbook</a>.

</p>

<table>

<!--  Begin DC Astronomy  -->    
        <tr>
            <td align="center"><h3><a href="https://github.com/datacarpentry/curriculum-advisors">Data Carpentry Astronomy</a></h3>
            <a href="mailto:curriculum-advisors-astronomy@lists.carpentries.org">Mailing List</a></td>
    
            <td>
                {% assign dc_astronomy = site.data.curriculum_advisors | where: "curriculum", "astronomy"  %}
                {% assign chairs = dc_astronomy | where: "position", "chair" %}
                {% assign secretaries = dc_astronomy | where: "position", "secretary" %}
                {% assign members = dc_astronomy | where: "position", "member" %}


                <ul>
                    {% for person in chairs %}
                       <li> {{ person.name }}, Chair </li>
                    {% endfor %}

                    {% for person in secretaries %}
                        <li> {{ person.name }}, Secretary </li>
                    {% endfor %}

                    {% for person in members %}
                        <li> {{ person.name }} </li>
                    {% endfor %}
                </ul>
            </td>
    
        </tr>
<!--  End DC Astronomy  -->  
    
<!--  Begin DC Genomics  -->    
    <tr>
        <td align="center"><h3><a href="https://github.com/datacarpentry/curriculum-advisors">Data Carpentry Genomics</a></h3>
        <a href="mailto:curriculum-advisors-genomics@lists.carpentries.org">Mailing List</a></td>

        <td>
            {% assign dc_genomics = site.data.curriculum_advisors | where: "curriculum", "genomics"  %}
            {% assign chairs = dc_genomics | where: "position", "chair" %}
            {% assign secretaries = dc_genomics | where: "position", "secretary" %}
            {% assign members = dc_genomics | where: "position", "member" %}


            <ul>
                {% for person in chairs %}
                   <li> {{ person.name }}, Chair </li>
                {% endfor %}

                {% for person in secretaries %}
                    <li> {{ person.name }}, Secretary </li>
                {% endfor %}

                {% for person in members %}
                    <li> {{ person.name }} </li>
                {% endfor %}
            </ul>
        </td>

    </tr>
<!--  End DC Genomics  -->  
    

<!--  Begin DC Geospatial  -->    
    <tr>
        <td align="center"><h3><a href="https://github.com/datacarpentry/curriculum-advisors">Data Carpentry Geospatial</a></h3>
        <a href="mailto:curriculum-advisors-geospatial@lists.carpentries.org">Mailing List</a></td>


        <td>
            {% assign dc_geospatial = site.data.curriculum_advisors | where: "curriculum", "geospatial"  %}
            {% assign chairs = dc_geospatial | where: "position", "chair" %}
            {% assign secretaries = dc_geospatial | where: "position", "secretary" %}
            {% assign members = dc_geospatial | where: "position", "member" %}

            <ul>
                {% for person in chairs %}
                   <li> {{ person.name }}, Chair </li>
                {% endfor %}

                {% for person in secretaries %}
                    <li> {{ person.name }}, Secretary </li>
                {% endfor %}

                {% for person in members %}
                    <li> {{ person.name }} </li>
                {% endfor %}
            </ul>
        </td>

    </tr>
<!--  End DC Geospatial  -->  



<!--  Begin Library Carpentry  -->    
       <tr>
        <td align="center"><h3><a href="https://github.com/LibraryCarpentry/curriculum-advisors">Library Carpentry</a></h3>
        <a href="mailto:curriculum-advisors-lc@lists.carpentries.org">Mailing List</a></td>

        <td>
            {% assign library = site.data.curriculum_advisors | where: "curriculum", "library"  %}
            {% assign chairs = library | where: "position", "chair" %}
            {% assign secretaries = library | where: "position", "secretary" %}
            {% assign members = library | where: "position", "member" %}

            <ul>
                {% for person in chairs %}
                   <li> {{ person.name }}, Chair </li>
                {% endfor %}

                {% for person in secretaries %}
                    <li> {{ person.name }}, Secretary </li>
                {% endfor %}

                {% for person in members %}
                    <li> {{ person.name }} </li>
                {% endfor %}
            </ul>
        </td>


    </tr>
<!--  End Library Carpentry  -->  


<!--  Begin Software Carpentry  -->    
<tr>
    <td align="center"><h3><a href="https://github.com/swcarpentry/curriculum-advisors">Software Carpentry</a></h3>
    <a href="mailto:curriculum-advisors-swc@lists.carpentries.org">Mailing List</a></td>

    <td>
        {% assign software = site.data.curriculum_advisors | where: "curriculum", "software"  %}
        {% assign chairs = software | where: "position", "chair" %}
        {% assign secretaries = software | where: "position", "secretary" %}
        {% assign members = software | where: "position", "member" %}

        <ul>
            {% for person in chairs %}
               <li> {{ person.name }}, Chair </li>
            {% endfor %}

            {% for person in secretaries %}
                <li> {{ person.name }}, Secretary </li>
            {% endfor %}

            {% for person in members %}
                <li> {{ person.name }} </li>
            {% endfor %}
        </ul>
    </td>

</tr>
<!--  End Software Carpentry  -->  

</table>
</div>