---
layout: page
title: "Our Mentees"
permalink: /mentees/
excerpt: Mentees work with Mentors to gain confidence, technical skills, and teaching skills.
---


{% include lazyload.html %}

<section id="team" class="bg-light-gray">
<div class="container">

{% assign role = site.data.profile_pages | where: "name", "Mentees"  %}
{% include community_profile_header.md %}

<br><br><br>

{% assign people_list = site.data.all_badged_people | where: "is_mentee","true" %}

{% include community_profiles.md %}

</div>
