---
layout: page
title: "Our Regional Coordinators"
permalink: /regionalcoordinators/
---

<div class="container">
{% include lazyload.html %}

Around the world, Carpentries workshops are organized by a team of Regional Coordinators.

<p>
Our core team Deputy Director of Workshops and Meetings, SherAaron Hurt, manages workshops in most of the world. In some parts of the world, local Carpenters support managing local workshops and building local communities. They work with our <a href="{% link pages/members.md %}">member sites</a> or as volunteers.
</p>

<p>
Regional Coordinators are the front face of The Carpentries, promoting our work and our culture in their geographical area. They manage workshop logistics, communicate with hosts and Instructors, and respond to general inquiries. The Regional Coordinators work together to support each other and ensure communities can thrive locally while maintaining quality and consistency globally.
</p>


<p>
Read more about the Regional Coordinators' <a href="https://docs.carpentries.org/topic_folders/workshop_administration/expectations.html">role</a>.
</p>

<p>
Meet our Regional Coordinators and Carpentries communities in these regions.  Click on the region name to learn more about this community.
</p>

<br><br>

<table>

<!--  Begin Australia  -->    
    <tr>
        <td align="center"><h3><a href="{% link pages/regional_AU.html %}">Australia</a></h3><a href="mailto:{{site.contact_au}}">{{site.contact_au}}</a></td>

        <td>
            {% assign regional_coordinators_au = site.data.regional_coordinators | where: "region", "Australia"  %}

            {% for person in regional_coordinators_au %}

                {% if regional_coordinators_au.size > 1 %}
                <div class="medium-6 columns">
                {% else %}
                <div class="medium columns">
                {% endif %}

                <div class="team-member">
                {% include single_profile.md %}
                </div></div>

            {% endfor %}
        </td>

    </tr>
<!--  End Australia  -->  

<!--  Begin Canada  -->  
    <tr>
       <td align="center"><h3><a href="{% link pages/regional_CA.html %}">Canada</a></h3>   
        <a href="mailto:{{site.contact_ca}}">{{site.contact_ca}}</a></td>        
       <td>
        {% assign regional_coordinators_ca = site.data.regional_coordinators | where: "region", "Canada"  %}

        {% for person in regional_coordinators_ca %}
                {% if regional_coordinators_ca.size > 1 %}
                <div class="medium-6 columns">
                {% else %}
                <div class="medium columns">
                {% endif %}

                <div class="team-member">
                {% include single_profile.md %}
                </div></div>

            {% endfor %}
        </td>
    </tr>
<!--  End Canada  -->  


<!--  Begin DACH Countries  -->

<tr>
    <td align="center"><h3><a href="{% link pages/regional_dach.html %}">DACH Countries</a></h3><a href="mailto:{{site.contact_dach}}">{{site.contact_dach}}</a></td>
    <td>
        {% assign regional_coordinators_dach = site.data.regional_coordinators | where: "region", "DACH Countries"  %}

        {% for person in regional_coordinators_dach %}
        {% if regional_coordinators_dach.size > 1 %}
        <div class="medium-6 columns">
        {% else %}
        <div class="medium columns">
        {% endif %}

        <div class="team-member">
        {% include single_profile.md %}
        </div></div>

    {% endfor %}
    </td>
</tr>

<!--  End DACH Countries -->


<!--  Begin New Zealand  -->  

    <tr>
        <td align="center"><h3><a href="{% link pages/regional_NZ.html %}">New Zealand</a></h3><a href="mailto:{{site.contact_nz}}">{{site.contact_nz}}</a></td>
        <td>
            {% assign regional_coordinators_nz = site.data.regional_coordinators | where: "region", "New Zealand"  %}

            {% for person in regional_coordinators_nz %}
            {% if regional_coordinators_nz.size > 1 %}
            <div class="medium-6 columns">
            {% else %}
            <div class="medium columns">
            {% endif %}

            <div class="team-member">
            {% include single_profile.md %}
            </div></div>

        {% endfor %}
        </td>
    </tr>

<!--  End New Zealand -->  



<!--  Begin Nordic  -->  

    <tr>
        <td align="center"><h3><a href="{% link pages/regional_nordic.html %}">Nordic Countries</a></h3><a href="mailto:{{site.contact_nordic}}">{{site.contact_nordic}}</a></td>
        <td>
            {% assign regional_coordinators_nordic = site.data.regional_coordinators | where: "region", "Nordic Countries"  %}

            {% for person in regional_coordinators_nordic %}
            {% if regional_coordinators_nordic.size > 1 %}
            <div class="medium-6 columns">
            {% else %}
            <div class="medium columns">
            {% endif %}

            <div class="team-member">
            {% include single_profile.md %}
            </div></div>

        {% endfor %}
        </td>
    </tr>

<!--  End Nordic -->  


<!-- Begin South Africa -->

    <tr>
        <td align="center"><h3><a href="{% link pages/regional_ZA.html %}">South Africa</a></h3><a href="mailto:{{site.contact_afr}}">{{site.contact_afr}}</a></td>
        <td>
            {% assign regional_coordinators_za = site.data.regional_coordinators | where: "region", "South Africa"  %}

            {% for person in regional_coordinators_za %}
            {% if regional_coordinators_za.size > 1 %}
            <div class="medium-6 columns">
            {% else %}
            <div class="medium columns">
            {% endif %}

            <div class="team-member">
            {% include single_profile.md %}
            </div></div>

        {% endfor %}
        </td>
    </tr>

<!-- End South Africa -->


<!--  Begin United Kingdom  -->  
    <tr>
        <td align="center !important"><h3><a href="{% link pages/regional_UK.html %}">United Kingdom</a></h3>
            <a href="mailto:{{site.contact_uk}}">{{site.contact_uk}}</a></td>
        <td>
            {% assign regional_coordinators_uk = site.data.regional_coordinators | where: "region", "United Kingdom"  %}

            {% for person in regional_coordinators_uk %}
            {% if regional_coordinators_uk.size > 1 %}
            <div class="medium-6 columns">
            {% else %}
            <div class="medium columns">
            {% endif %}

            <div class="team-member">
            {% include single_profile.md %}
            </div></div>

        {% endfor %}
       </td>
    </tr>

<!--  End United Kingdom  -->  

<!--  Begin Global  -->  
    <tr>
        <td align="center"><h3><a href="{% link pages/regional_global.html %}">Global</a></h3><a href="mailto:{{site.contact}}">{{site.contact}}</a></td>
        <td>


            {% assign regional_coordinators_global = site.data.regional_coordinators | where: "region", "Global"  %}

            {% for person in regional_coordinators_global %}
            {% if regional_coordinators_global.size > 1 %}
            <div class="medium-6 columns">
            {% else %}
            <div class="medium columns">
            {% endif %}

            <div class="team-member">
            {% include single_profile.md %}
            </div></div>

        {% endfor %}
        </td>
    </tr>

<!--  End Global -->  

</table>


</div>
