---
layout: page
permalink: /regions_ca/
---

{% include lazyload.html %}

{% assign region = "Canada" %}
{% assign region_code = "CA" %}
{% assign regional_coordinators = site.data.regional_coordinators | where: "region", region  %}
{% assign rc_email = site.contact_ca %}
{% assign workshop_list = site.data.all_upcoming_workshops  | where: "country", region_code %}
{% assign people_list = site.data.all_badged_people | where:"is_instructor","true" | where: "country", region_code %}

{% capture additional_text %}
<!-- This lists additional information about the Regional Coordinator, like where they are based.  It will appear after the first sentence in the introductory paragraph. -->
They work with <a href="https://www.computecanada.ca/">Compute Canada</a>, a Carpentries member organization.
{% endcapture %}


{% capture other_events %}

<!-- To list other events in the region, comment back in the lines below. Edit placeholder text and add new rows as needed. Be sure to preserve the table formatting. -->

<!-- <h2>Other Events in {{ region }}</h2>
<table class="table table-striped" style="width: 100%;">
  <tr>
    <td>
      <a href="#">Event Name </a>
    </td>
    <td>
      Event Dates
    </td>
  </tr>
</table> -->

{% endcapture %}

{% include regional_coordinator_template.html %}
